.x-slider{
	display: block;
	width: auto;
	height: 500px;
	position: relative;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.x-slider .nav-btn{
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 10;
}
.x-slider .nav-btn .xbtn{
	display: inline-block;
	margin: 3px;
	height: 12px;
	width: 12px;
	background: white;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	cursor: pointer;
	padding: 0 !important;
}
.x-slider .nav-btn .xbtn:hover{
	background: green;
}
.x-slider .nav-btn .xbtn.active{
	background: green;
}
.x-slider .nav-btn .xbtn.active:hover{
	background: green;
}
.x-slider .x-btn{
	
}
.x-slider .x-btn .act{
	position: absolute;
	z-index: 11;
	font-size: 30px;
	font-weight: bold;
	line-height: 50px;
	height: 50px;
	width: 50px;
	text-align: center;
	color: white;
	cursor: pointer;
	background: rgba(255,255,255,.5);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}
.x-slider .x-btn .act:hover{
	background: rgba(0,0,0,.5);
}
.x-slider .x-btn .act.next{
	top: 45%; right: 10px;
}
.x-slider .x-btn .act.prev{
	top: 45%; left: 10px;
}
.x-slider .slider{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.x-slider .slider .x-item{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	top: 0;
	left: 0;
}
.x-slider .slider .x-item.current{display: block;}
.x-slider .slider .x-item img{
	width: 100%;
}
.x-slider-sub-item{
	display: block;
	position: absolute;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	z-index: 99;
}
.x-slider-sub-item .context{
	width: 100%;
	height: 100%;
	display: table;
	margin: 0 !important;
	padding: 0 !important;
}
.x-slider-sub-item .context.contextimage{display: block !important;}
.x-slider-sub-item .context img{
	margin: 0 !important;
	padding: 0 !important;
	display: block !important;
}
.x-slider-sub-item .context p{
	margin: 5px auto;
	padding: 5px;
	width: 85%;
	line-height: 25px;
	display: table-cell;
	vertical-align: middle;
}
.x-slider-sub-item .context a{
	margin: 5px auto !important;
	padding: 5px !important;
	width: 85% !important;
	line-height: 25px !important;
	cursor: pointer;
	display: table-cell!important;
	vertical-align: middle;
}
.x-slider-sub-item .context a:hover{
	color: red;
}